@import 'values.less';

@media all and (max-width: 1715px){
  .light-dron-container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
  }

  .block{
    max-width: 1715px;
  }
  .block .block-lightDrone .block-lightDrone__col-one {
    width: 60%;
    padding-left: 125px;
  }

  .block .block-lightDrone .block-lightDrone__col-one .block-lightDrone__col-one__about {
    font-size: 20px;
  }
  .block .block__sell-items {
    position: relative;
    width: 360px;
    height: 626px;
    background-color: #ffffff;
    text-align: center;
  }

  .block .block-lightDrone .items-list .items-list__list .items-list__list__item {
    color: #6e6e6e;
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 30%;
    display: inline-block;
  }
  .block .block-lightDrone .items-list {
    width: 100%;
    height: 55%;
    flex-grow: 1;
  }

  .block .block-lightDrone .block-lightDrone__col-two {
    padding-right: 40px;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings .list-char {
    color: #ffffff;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .block .block-main .block-main__name .block-main__name__BigTitle {
    font-family: 'Sarabun', sans-serif;
    font-size: 110px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 40px;
  }

}

@media all and (max-width: 1350px) {

  .light-dron-container {
    width: 920px;
    height: 100%;
    margin: 0 auto;
  }

  .block{
    max-width: 1350px;
  }
  .block .block__sell-items {
    position: relative;
    width: 315px;
    height: 561px;
    background-color: #ffffff;
    text-align: center;
  }

  .block .footer-dron .col-footer-3_social-list {
    position: relative;
    top: 70px;
    left: 107px;
    width: 60%;
  }

  .block .footer-dron .col-footer-1__data {
    width: 60%;
    height: 40%;
    position: relative;
    top: 176px;
    padding-left: 65px;
  }

  .block .footer-dron .col-footer-3__number {
    position: relative;
    left: 53px;
    top: 112px;
    text-align: center;
  }

  .col-two--width {
    width: 92%;
  }

  .block .block-lightDrone .block-lightDrone__col-two {
    padding-right: 158px;
  }

  .block .block-lightDrone .block-lightDrone__col-one {
    width: 100%;
    padding-left: 75px;
  }

  .block .block-main {
    width: 100%;
    height: 930px;
  }

  .block .block-main .block-main__name {
    width: 75%;
    height: 65%;
    position: absolute;
    left: 143px;
    top: 90px;
    color: #ffffff;
    text-align: center;
  }

  .block .block-lightDrone .items-list .items-list__list {
    display: -webkit-flex;
    dispaly: -moz-flex;
    dispaly: -o-flex;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 135px;
    width: 75%;
  }

  .block .block-lightDrone .block-lightDrone__col-two {
    padding-right: 0;
  }

  .block .block-lightDrone .block-lightDrone__col-one {
    width: 55%;
    padding-left: 75px;
  }

  .block .footer-dron .col-footer-1__data__title {
    color: #5e5e5e;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  .block .footer-dron .col-footer-3__phone-number {
    color: #ffffff;
    font-family: 'Sarabun', sans-serif;
    font-size: 25px;
    font-weight: 700;
  }

  .block .block-lightDrone--custom-height {
    width: 100%;
    height: 820px;
    position: relative;
  }

  .block .light-dron {
    width: 100%;
    height: 746px;
  }

  .block .block-lightDrone .block-lightDrone__col-one {
    width: 100%;
    padding-left: 75px;
  }

  .items__dron-one--paddingb {
    padding-bottom: 46px;
  }

}

@media all and (max-width: 1175px){

  .light-dron-container {
    width: 780px;
    height: 100%;
    margin: 0 auto;
  }

  .block{
    max-width: 1175px;
  }

  .block .block-lightDrone .block-lightDrone__Drone--top {
    position: relative;
    top: 165px;
    left: -108px;
    width: 75%;
  }

  .block .block-lightDrone .block-lightDrone__col-one {
    width: 35%;
    padding-left: 60px;
  }

  .block .block-lightDrone .block-lightDrone__Drone--top {
    position: relative;
    top: 239px;
    left: -38px;
    width: 88%;
  }

  .block .block-lightDrone .block-lightDrone__col-two {
    width: 50%;
    padding-right: 0;
  }

 body > section > div.block > div.block-lightDrone > div.block-lightDrone__col-one.block-lightDrone--mobile{
    width: 60%;
  }

  .block .block-lightDrone .block-lightDrone__Drone--float {
    position: relative;
    top: 256px;
    float: right;
    width: 75%;
  }

  .block .block-main .block-main__name .block-main__name__BigTitle {
    font-size: 75px;

  }

  .block .block-main .block-main__title {
    font-size: 25px;

  }
  .block .block-lightDrone .block-lightDrone__col-one .block-lightDrone__read-btn,
  .block .block-main .block-main__name .block-main__buy-btn,
  .block .block-main .block-main__login-btn{
  padding: 8px 10px;
}
.block .block-main {
  width: 100%;
  height: 700px;
}

  .block .block__sell-items {
    position: relative;
    width: 247px;
    height: 491px;
    background-color: #ffffff;
    text-align: center;
  }

  .block .footer-dron .col-footer-3__phone-number {
    font-size: 20px;

  }
  .block .footer-dron .col-footer-3__number {
    left: 87px;
    top: 58px;
  }

  .block .footer-dron .col-footer-1__license {
    position: absolute;
    top: 119px;
    color: #5e5e5e;
    font-family: 'Sarabun', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.45px;
  }

  .block .footer-dron {
    height: 363px;
  }

  .block .footer-dron .col-footer-1__data {
    width: 60%;
    height: 40%;
    position: relative;
    top: 88px;
    padding-left: 65px;
  }

  .block .footer-dron .col-footer-2__email {
    top: 295px;
  }

  .block .footer-dron .col-footer-3_social-list {
    top: 65px;
    left: 99px;
  }

  .block .block-lightDrone .items-list .items-list__list .items-list__list__item .items-list__list__item_title {
    color: #ffffff;
    font-family: 'Sarabun', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }

  .block__sell-items__dron--padding{
    padding-bottom: 20px;
  }

}

@media all and (max-width: 1000px) {


  .block {
    max-width: 1000px;
  }

  .items__dron-one--paddingb {
    padding-bottom: 43px;
  }
  .sell-items__price-down{
    padding-bottom: 20px;
  }

  .block .light-dron .light-dron__title {
    color: #1e2227;
    font-family: 'Sarabun', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: center;
  }

  .block .block__sell-items {
    position: relative;
    width: 192px;
    height: 471px;
    background-color: #ffffff;
    top: 21px;
  }


  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title-setting {
    font-size: 17px;

  }

  .block .block-lightDrone .block-lightDrone__col-two {
    width: 80%;
    padding-right: 0;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title {
    padding-top: 30px;
    font-size: 40px;
  }

  body > section > div.block > div.block-lightDrone > div.block-lightDrone__col-one.block-lightDrone--mobile {
    width: 100%;
  }

  .block .block-main .block-main__name .block-main__name__BigTitle {
    font-size: 35px;
  }

  .block .block-main .block-main__name {
    width: 75%;
    height: 65%;
    position: absolute;
    left: 143px;
    top: 226px;
    color: #ffffff;
    text-align: center;
  }

  .block .block-lightDrone .block-lightDrone__col-one__title {

    font-size: 35px;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav {
    padding: 0;
    margin: 0;
    position: relative;
  }

  .wrapper {
    display: block;
  }

  .menuToggle {
    display: none;
  }

  .menu {
    display: none;

  }



  .block .light-dron .light-dron__title--center {
    width: 585px;
    margin: 0 auto;
  }

  .block .block-lightDrone .block-lightDrone__about {
    margin-top: 0;
  }

  .block .light-dron .light-dron__title {
    position: relative;
    left: -39px;
  }

  .block .block-lightDrone__Dron-list {
    width: 72%;
    position: absolute;
    top: 200px;
    left: 72px;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about--center {
    width: 500px;
    height: 20%;
    margin: 0 auto;
  }

  .block .footer-dron .col-footer-3_social-list {
    top: 2px;
    left: 50px;
  }

  .block .footer-dron .col-footer-3__number {
    left: 64px;
    top: 7px;
  }

  .block .footer-dron .list-footer .list-footer__li {
    padding-left: 0;
  }

  .block .footer-dron .col-footer-1__data {
    width: 60%;
    height: 40%;
    position: relative;
    top: 88px;
    left: 152px;
    padding-left: 0;
  }

  .block .footer-dron .col-footer-2__email {
    top: 266px;
    left: 255px;
  }

  .block .footer-dron .list-footer {
    position: relative;
    left: 117px;
    top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .block .footer-dron .list-footer {
    position: unset;
    display: flex;

    justify-content: space-between;
    width: 100%;
  }

  .block .footer-dron .col-footer-1__license {
    top: 133px;
    left: 46px;
    /* position: unset; */
    text-align: center;
  }

  .block .footer-dron .col-footer-1__data__title {

    position: unset;
  }

  .block .footer-dron .col-footer-2__email {
    top: 266px;
    left: 230px;
  }

  .block .block-lightDrone .items-list .items-list__list {

    left: 40px;
    width: 75%;
  }

  .block .block-lightDrone .block-lightDrone__about {
    margin-top: unset;
  }

  .block .light-dron {
    width: 100%;
    height: 590px;
  }

  .block .block-lightDrone .block-lightDrone__Drone--float {
    position: relative;
    top: 150px;
    left: -128px;
    width: 64%;
  }

  .block .block-lightDrone .items-list {
    width: 87%;
    height: 55%;
    flex-grow: 1;
  }

  .block .block-lightDrone {
    height: 910px;

  }


  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings {
    padding-left: 135px;
  }

  .block .block-lightDrone .items-list .items-list__list .items-list__list__item .items-list__list__item_title {

    font-size: 19px;

  }

  body > section > div.block.block--border > div.block-lightDrone.block-lightDrone-Settings.block-lightDrone--direction > div.block-lightDrone--flex-between > div.block-lightDrone__col-one {
    display: none;
  }

  .container {
    position: relative;
    left: -40px;
    height: 0;
  }

  .block .block-lightDrone__Dron-list .block__sell-items__dron {
    padding-top: 60px;
    width: 70%;
  }
}


@media all and  (max-width: 800px){
  .menuToggle {
    display: block;
  }
  header{
    display: none;
  }

  .block .footer-dron .col-footer-3_social-list {
    top: 2px;
    left: 30px;
  }

  .items-list__list__item--mod{
    position: @rel ;
    top: 1px;
  }

.items-list__list__item-top{
  position: @rel;
  top: -13px;
}
  .block .block-lightDrone .block-lightDrone__Drone--float {
    top: 150px;
    left: -86px;
    width: 60%;
  }

  .block .footer-dron .col-footer-1__data {
    width: 60%;
    height: 40%;
    position: relative;
    top: 88px;
    left: 97px;
    padding-left: 0;
  }

  .items-list__list__item--mobile{
    width:  40%;
  }
  .items-list__list__item-two--mobile {
    width: 24%;
  }


  .block .block-lightDrone .items-list .items-list__list .items-list__list__item .items-list__list__item_title {
    font-size: 14px;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings .list-title {

    line-height: 0;
  }

  .menu {
    position: absolute;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    top: 20px;
  }

  .block{
    max-width: 800px;
  }

  .block .footer-dron .col-footer-3 {
    width: 0;
    padding-right: 125px;
  }

  .block .block__sell-items {
    position: relative;
    width: 147px;
    height: 471px;
    background-color: #ffffff;
    text-align: center;
  }

  .block .block-lightDrone__Dron-list .sell-items__btn {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 20px 0;
    border: 1px solid #ffffff;
    text-overflow: clip;
    /* letter-spacing: 4px; */
    background: black;
    color: white;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }

  .block .block-lightDrone__Dron-list .block__sell-items__dron {
    padding-top: 16px;
    width: 60%;
  }

  .block .block__sell-items {
    position: relative;
    width: 162px;
    height: 380px;
    background-color: #ffffff;
    text-align: center;
  }

  .block__Sell-items__img {
    width: 136px;
    margin: 0 auto;
  }

  .block__Sell-items__img {
    width: 136px;
    height: 100px;
    margin: 0 auto;
  }

  .block__Sell-items__img--height {
    width: 136px;
    height: 103px;
    margin: 0 auto;
  }

  .sell-items__price-down{
    margin-top: 56px;
  }

  .sell-items__price-down {
 padding-bottom: 0;
  }

  .block .block-lightDrone {
    height: 665px;
  }

  .block .footer-dron .col-footer-3__number {
    left: -75px;
    top: -274px;
    width: 150px;
  }

  .block .footer-dron .col-footer-2__email {
    top: 37px;
    left: 80px;
  }

  .block .footer-dron .col-footer-1__license {
    top: 57px;
    left: 46px;
    text-align: center;
  }

  .block .footer-dron .col-footer-1__data__title {
    position: relative;
  }

  .col-footer-1__data__title--mobile-mod {
    position: relative;
    top: 17px;
    left: 26px;
    width: 235px;
  }

  .block .footer-dron {
    height: 300px;
  }

  .block .block-lightDrone .items-list .items-list__list .items-list__list__item .items-list__list__item__content {
    line-height: 15px;
    font-size: 14px;
  }

  .block .block-lightDrone .items-list .items-list__list {
    position: relative;
    left: 102px;
    top: 29px;
    width: 75%;
  }



  .block .block-lightDrone {
    height: 701px;
  }

  .block .block-lightDrone .block-lightDrone__col-two {
    width: 100%;
    padding-right: 0;
  }

  .lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings .list-title {
    line-height: 0;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title-setting {
    padding-top: 17px;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings {
    position: relative;
    top: -72px;
  }

  .block .block-lightDrone .block-lightDrone__col-one .block-lightDrone__col-one__about {
    line-height: 15px;;
  }
  div.block-lightDrone.block-lightDrone--mobile {
    height: 603px;
  }

  .light-dron-container {
    width: 534px;
    height: 100%;
    margin: 0 auto;
  }

.items-list__list__item__content--up{
  position: @rel;
  top: -13px;
}

  .items-list__mobile-modification--up{
    position: @rel;
    top: -11px;
  }

}

@media all and (max-width:680px){

  .menu {
    display: none;
    position: absolute;
    width: 100%;
    margin-left: 0;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .light-dron-container {
    width: 400px;
    height: 100%;
    margin: 0 auto;
  }
  .block .block-lightDrone__about__title__reiw {
    color: #6e6e6e;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
  }

  .block .light-dron .light-dron__title--center {
    width: 348px;
    margin: 0 auto;
  }

  .block .footer-dron .list-footer {
    position: relative;
    left: -64px;
    top: 5px;
    width: 100%;
  }

  .block .footer-dron .list-footer .list-footer__li .list-footer__li--href {

    font-size: 12px;
    letter-spacing: 0.45px;
  }
  .mobile-icon {
    width: 30px;
  }

  .block .footer-dron .col-footer-3_social-list {
    top: 66px;
    left: -327px;
    width: 267px;
  }



  .block .footer-dron .col-footer-3__phone-number {
    font-size: 12px;
  }

  .block .footer-dron .col-footer-3__number {
    left: -75px;
    top: -143px;
    width: 150px;
  }

  .block .footer-dron .col-footer-1__data__title {
    font-size: 12px;

  }
  .block .footer-dron .col-footer-2__email {
    top: 37px;
    left: 45px;
  }

  .col-footer-1__data__title--mobile-mod {
    position: relative;
    top: 22px;
    left: -137px;
    width: 315px;
  }

  .block .footer-dron .col-footer-1__license {
    top: 38px;
    left: -71px;
  }

  .block .footer-dron {
    height: 204px;
  }

  .items-list__mobile-modification {
    position: @rel;
    width: 17%;
    top: 24px;
    left: 4px;
  }

  .items-list__list__item--mobile {
    width: 20px;
    position: relative;
    top: 35px;
  }

  .items-list__list__item--mod {
    position: relative;
    top: 11px;

  }

  .block .footer-dron .col-footer-1__data {
    width: 60%;
    height: 40%;
    position: relative;
    top: 42px;
    left: 117px;
    padding-left: 0;
  }

  .block .block-lightDrone__Dron-list .sell-items__price {
    color: #000000;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-align: center;
  }

  .block .block-lightDrone__Dron-list .sell-items__btn {

    padding: 0 0;
  }
  .block .block-lightDrone__Dron-list .sell-items__title {
    color: #000000;
    font-family: 'Sarabun', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-align: center;
  }

  .block .block__sell-items {
    position: relative;
    width: 114px;
    height: 250px;
    background-color: #ffffff;
    text-align: center;
  }

  .block .block-lightDrone__Dron-list .sell-items__btn {

    letter-spacing: 0;

  }

  .sell-items__price-down {
    margin-top: 27px;
  }
  .block-lightDrone.block-lightDrone--custom-height.block-lightDrone--mobile-resize {
    height: 500px;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings .list-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 0;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings {
    padding-left: 0;
  }

  .block .block-lightDrone .block-lightDrone__about .font-size {
    font-size: 13px;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title-setting {
    font-size: 14px;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings {
    position: @rel;
    top: -72px;
    width: 80%;
    left: 57px;
  }

  .block .block-lightDrone {
    height: 500px;
  }

  .block .block-lightDrone .items-list .items-list__list .items-list__list__item .items-list__list__item__content {
    line-height: 10px;
    font-size: 12px;
  }

  .block .block-lightDrone .items-list .items-list__list .items-list__list__item .items-list__list__item_title {
    font-size: 12px;
  }


  .items-list__list__item__content--down{
    position: @rel;
    top: 10px;
  }



  .items-list__list__item-two--mobile {
    width: 17px;
    position: @rel;
    top: 25px;
  }

  .block .block-lightDrone .items-list .items-list__list {
    position: @rel;
    left: 0;
    top: -28px;
    width: 90%;
  }

  .items-list__mobile-modification--up {
    position: relative;
    top: 2px;
  }

  .items-list__list__item__content--up {
    position: relative;
    top: 2px;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title {
    padding-top: 39px;
    font-size: 20px;
  }

  .block .block-lightDrone .items-list .items-list__list {
    position: @rel;
    left: 30px;
    top: 0;
    width: 90%;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title-center {
    width: 405px;
    height: 20%;
    margin: 0 auto;
  }

  .block .block-lightDrone__about__title__reiw {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  .block-lightDrone.block-lightDrone--direction.block-lightDron--mobile {
            height: 375px;
  }

  .block-move {
display: none;
  }

  .container {
    position: relative;
    left: -17px;
  }

  .block .footer-dron .col-footer-3__number {
    left: -67px;
    top: -35px;
    width: 150px;
  }

  .block .light-dron .light-dron__title {
    font-size: 15px;
  }

  .block .light-dron .light-dron__title {
    position: relative;
    left: -17px;
  }

  .block .light-dron {
    width: 100%;
    height: 375px;
  }
  .block .footer-dron .col-footer-3 {
    width: 0;
    padding-right: 0;
  }

  .block .block-lightDrone .block-lightDrone__Drone--float {
    position: @rel;
    top: 152px;
    left: -58px;
    width: 63%;
  }

  .block .block-lightDrone .items-list .items-list__list {
    position: @rel;
    left: -18px;
    top: -28px;
    width: 90%;
  }

  .block .block-lightDrone .block-lightDrone__about {
    width: 100%;
    height: 0;
    text-align: center;
    margin-top: -40px;
    flex-grow: 2;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about--center {
    width: 360px;
    height: 20%;
    margin: 0 auto;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title-setting {
    padding-top: 59px;
  }

  .block .block-lightDrone .items-list {
    width: 100%;
    height: 44%;
    flex-grow: 1;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings .list-char {
    color: #ffffff;
    font-family: @font;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .block .block-lightDrone .block-lightDrone__col-two {
    width: 60%;
    padding-right: 0;
  }

  .block--border {
    border-top: 1px solid black;
  }

  .block-lightDrone__mobile-down__border {
    border-bottom: 1px solid black;
  }

  div.block-lightDrone.block-lightDrone--mobile {
    height: 300px;
  }


  .block .block-lightDrone .block-lightDrone__col-one .block-lightDrone__read-btn, .block .block-main .block-main__name .block-main__buy-btn, .block .block-main .block-main__login-btn {
    padding: 0 0;
  }

  .block .block-lightDrone .block-lightDrone__col-one .block-lightDrone__col-one__about {
    font-size: 13px;
    line-height: 10px;
  }

  .block .block-lightDrone .block-lightDrone__col-one__title {
    font-size: 20px;
  }

  .block .block-lightDrone .block-lightDrone__Drone--float {
    position: relative;
    top: 137px;
    left: -48px;
    width: 63%;
  }

  .block .block-lightDrone .block-lightDrone__col-one .block-lightDrone__read-btn {
    letter-spacing: 0;
  }



}


@media all and (max-width:500px){

  .block {
    max-width: 500px;
  }

  .block .block-lightDrone .block-lightDrone__Drone--float {
    position: relative;
    top: 165px;
    left: -57px;
    width: 43%;
  }

  .block .light-dron .light-dron__title--center {
    width: 242px;
    margin: 0 auto;
  }

  .block .block-lightDrone .block-lightDrone__col-one .block-lightDrone__col-one__about {
    font-size: 10px;
    line-height: 9px;
  }

  button, input, optgroup, select, textarea {
    font-size: 80%;

  }

  .block .footer-dron .col-footer-1__data {
    width: 60%;
    height: 40%;
    position: relative;
    top: 42px;
    left: 38px;
    padding-left: 0;
  }

  .light-dron-container {
    width: 300px;
    height: 100%;
    margin: 0 auto;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings {
    position: relative;
    top: -84px;
    left: 66px;
  }

  .block .block__sell-items {
    position: relative;
    width: 87px;
    height: 250px;
    background-color: #ffffff;
    text-align: center;
  }



  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings .list-title {
    font-size: 10px;
    font-weight: 400;
    line-height: 0;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings {
    position: @rel;
    top: -84px;
    left: 35px;
  }

  .block .block-lightDrone .block-lightDrone__col-two {
    width: 80%;
    padding-right: 0;
  }

  .block .block-lightDrone .block-lightDrone__col-two .block-lightDrone__col-two__list-settings .list-char {
    color: #ffffff;
    font-family: 'Sarabun', sans-serif;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title-setting {
    padding-top: 51px;
  }
  .block .block-lightDrone .block-lightDrone__about .font-size {
    font-size: 10px;
  }
  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about--center {
    width: 224px;
    height: 20%;
    margin: 0 auto;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title-setting {
    font-size: 12px;
  }


  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title-center {
    width: 275px;
    height: 20%;
    margin: 0 auto;
  }
  .block .block-lightDrone .items-list .items-list__list .items-list__list__item .items-list__list__item__content {
    line-height: 8px;
    font-size: 10px;
  }

  .block .block-lightDrone__Dron-list {
    width: 90%;
    position: absolute;
    top: 69px;
    left: 11px;
  }

  .block .footer-dron .col-footer-3__number {
    left: -229px;
    top: -47px;
    width: 150px;
  }



  .block-lightDrone.block-lightDrone--custom-height.block-lightDrone--mobile-resize {
    height: 367px;
  }

  .block .footer-dron .col-footer-3_social-list {
    top: 43px;
    left: -273px;
    width: 267px;
  }

  .block .footer-dron .col-footer-3__phone-number {
    font-size: 9px;
  }



  .block .footer-dron .col-footer-1__data__title {
    position: absolute;
    top: 34px;
    width: 261px;
    font-size: 10px;
  }

  .block .footer-dron .col-footer-2__email {
    top: 37px;
    left: -138px;
  }

  .mobile-icon {
    width: 20px;
  }

  .block .footer-dron .col-footer-1__data__title {
    position: relative;
    top: 50px;
  }

  .block .footer-dron .col-footer-1__license {
    top: 8px;
    text-align: center;
  }

  .block .block-lightDrone .block-lightDrone__about .block-lightDrone__about__title-center {
    width: 300px;
    height: 20%;
    margin: 0 auto;
  }



  div.block-lightDrone.block-lightDrone--mobile {
    height: 330px;
  }

  .block__Sell-items__img {
    width: 96px;
    height: 100px;
    margin: 0 auto;
  }

  .block__Sell-items__img--height {
    width: 85px;
    height: 103px;
    margin: 0 auto;
  }

  .block .block-lightDrone .block-lightDrone__col-one__title {
    font-size: 13px;
  }

  .block .footer-dron .list-footer {
    position: relative;
    left: -92px;
    top: 5px;
    width: 100%;
  }
  .block .footer-dron .list-footer .list-footer__li .list-footer__li--href {
    font-size: 9px;
    letter-spacing: 0;
  }

  .block .footer-dron .list-footer {
    position: @rel;
    left: -120px;
    top: 5px;
    width: 215px;
  }

  .block .light-dron {
    width: 100%;
    height: 329px;
  }

  .items-list__mobile-modification--up {
    position: @rel;
    top: 2px;
  }

  .block .block-lightDrone .items-list .items-list__list .items-list__list__item .items-list__list__item_title {
    font-size: 10px;
  }

  .items-list__list__item--mobile {
    width: 14px;
    position: relative;
    top: 35px;
  }

  .items-list__list__item-two--mobile {
    width: 12px;
    position: relative;
    top: 25px;
  }

  .items-list__list__item__content--up {
    position: relative;
    top: 2px;
  }

  .block .footer-dron .col-footer-1 {
    width: 20%;
    padding-left: 125px;
  }

  .block .footer-dron .col-footer-1__data__title {
    display: none;
  }

  .block .footer-dron {
    height: 155px;
  }

}

