@block: 100%;
@fon: url('../img/logo.jpg');
@font: 'Sarabun', sans-serif;
@rel: relative;
@abs: absolute;
@simple: #ffffff;
@title: 32px;
@titileW: 700;
@BigTitleSize: 160px;
@radiusBtn: 3px;
@LightDroneBc: #1c1c1c;
@colTitle: 60px;
@colSpacing: 1.5px;
@MaxSize: 1920px;
@Items:  #6e6e6e;
@line: 1px solid black;
@LightTitle: #1e2227;
@sellItems: #000000;
@footer-li:  #5e5e5e;
